body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 500px;
    width: 500px;
    border: 2px solid orchid;
    /* background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto; */
}

.etchBox {
    /* border: 1px solid lightblue;s */
}
